[general]
duration = 0
# bufferSecs = 1
bufferSecs    = 5
reconnect     = yes

[input]
#device = hw:0,0
#device = hw:0,1
device = hw:1,0
#device = hw:1,1
# device = default
# device = /dev/snd/pcmC0D0p
# device = /dev/snd/pcmC0D1p
# !
# device = /dev/snd/pcmC1D0c
# device = /dev/snd/pcmC1D0p
sampleRate = 44100
#sampleRate = 48000
bitsPerSample = 16
channel = 2
jackClientName = DarkIce-VR

[icecast2-0]
format = vorbis
bitrateMode = vbr
quality = 1
server = 52.58.65.224
port = 80
password = thisisagoodpassword
mountPoint = 4606
