[Unit]
Description=streambox monitor on tty6
After=graphical.target

[Service]
Type=simple
ExecStart=/home/pi/streambox/monitor.sh
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty6
